#Python data types and strucuture

1.   What are data structures, and why are they important ?
  - Data structures are organized ways of storing and managing data so that it can be accessed and modified efficiently.they are important as they provide a way to store the data according to their type and use.
2.   Explain the difference between mutable and immutable data types with examples ?
  - mutable data type the data that can be modified when needed for ex. list, sets and dictioaries while immutable data types can not be modified later once they are created for ex. tuples,string, frozen set.
3.  What are the main differences between lists and tuples in Python ?
  - the main difference between list and tuples is list are mutable while tuples are immutable.
4.  Describe how dictionaries store data ?
  - Dictionaries stores data in the form of key value pair key represents the index and the value is data stored to be executed by the unique keys.
5.  Why might you use a set instead of a list in Python ?
  - we use set instead of list because list stores same value multiple times when feeded in it but the set stores one value only one time or combines the value if entered multiple times.
6.  What is a string in Python, and how is it different from a list ?
  - Strings in Python are sequences of characters enclosed in quotes ('' or “”). Lists are ordered collections of items enclosed in square brackets [].Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.
7.  How do tuples ensure data integrity in Python ?
  - Tuples ensure data integrity in python as data stored in tuples are immutable that means it can not be changed once feeded.
8.  What is a hash table, and how does it relate to dictionaries in Python ?
  - When we insert a key-value pair into a dictionary, Python internally uses a hash function to compute a hash value for the key. This hash value is then used to determine where in memory the key-value pair should be stored.
9.  Can lists contain different data types in Python ?
  - yes list is a heterogenous data structure i.e. it contains data of different types in it.
10. Explain why strings are immutable in Python ?
  - Once a string is created, it will never change, which makes debugging and understanding the code easier.
11. What advantages do dictionaries offer over lists for certain tasks ?
  - Dictionaries offers key advantages over lists for certain types of tasks, particularly when it comes to efficient lookups, clear structure, and flexible data associations.
12.  Describe a scenario where using a tuple would be preferable over a list ?
  - a tuple is preferable over a list in scenarios where we want to create a collection of values that is immutable, can be used as a key in a dictionary or a set.
13. How do sets handle duplicate values in Python ?
  - In Python sets automatically merges duplicate values. When we add items to a set, any duplicate entries are ignored, and only unique elements are stored.
14. How does the “in” keyword work differently for lists and dictionaries ?
  - When we use with a list in checks whether a value exists anywhere in the list or not while When we use with a dictionary in checks whether a key exists in the dictionary but not the value.
15. Can you modify the elements of a tuple? Explain why or why not ?
  - No, we can not modify the elements of tuple as tuple is a immutable data type it does not any modification in it.
16. What is a nested dictionary, and give an example of its use case ?
  -  A nested dictionary in Python is a dictionary where values themselves are dictionaries. It's a way to organize complex data hierarchically.
17. Describe the time complexity of accessing elements in a dictionary ?
  - Python dictionaries are implemented using hash tables, which allow fast lookup by computing a hash of the key and directly accessing the bucket where the value is stored.
18. In what situations are lists preferred over dictionaries ?
  - when the order of elements is important and when we need to frequently access elements by their index or perform operations like appending, extending, or inserting.
19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
  - Dictionaries use keys so it doesnt actually matter where the item is in the dictionary, we search with keys.
20.  Explain the difference between a list and a dictionary in terms of data retrieval ?
  - A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index no. , while the elements of the dictionary can be accessed using keys

In [ ]:
# 1. Write a code to create a string with your name and print it ?
name = input('your name :')
print (f'Name is {name}')

your name :um
Name is um

In [ ]:
# 2.  Write a code to find the length of the string "Hello World" ?
string = 'Hello World'
print(len(string))

11

In [ ]:
# 3.  Write a code to slice the first 3 characters from the string "Python Programming" ?
string = 'python programming'
print(string[0:3])

pyt

In [ ]:
# 4.  Write a code to convert the string "hello" to uppercase ?
string = 'hello'
string.upper()

'HELLO'

In [ ]:
# 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple" ?
string = 'i like apple'
string.replace('apple','orange')

'i like orange'

In [ ]:
# 6.   Write a code to create a list with numbers 1 to 5 and print it ?
number = list(range(1,6))
print(number)

TypeError: 'list' object is not callable

In [ ]:
# 7.  Write a code to append the number 10 to the list [1, 2, 3, 4]?
number = list(range(1,5))
number.append(10)
print(number)

TypeError: 'list' object is not callable

In [ ]:
# 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
number = list(range(1,6))
number.remove(3)
print(number)

In [ ]:
# 9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?
list = ['a','b','c','d']
print(list[1])

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
# 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup1 = tuple(range(100,301,100))
print(tup1)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup1 = ('red', 'green', 'blue', 'yellow')
print(tup1[-2])

blue

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup1 = (10,20,5,15)
minimum = min(tup1)
print(minimum)

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup1 = ('dog','cat','rabbit')
index = tup1.index('cat')
print(index)

1

In [ ]:
# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple','banana','mango')
fruits1= ('mango','kiwi','apple')
print('kiwi' in fruits)
print('kiwi' in fruits1)

False
True

In [ ]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set_1 = {'a','b','c'}
print(set_1)

{'b', 'a', 'c'}

In [ ]:
# 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set_1 = set(range(1,6))
print(set_1)
set_1.clear()
print(set_1)

{1, 2, 3, 4, 5}
set()

In [ ]:
# 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set_1 = set(range(1,5))
set_1.remove(4)
print(set_1)

{1, 2, 3}

In [ ]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set_1 = {1,2,3}
set_2 = {3,4,5}
print (set_1 | set_2)

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set_1 = {1,2,3}
set_2 = {2,3,4}
print(set_1.intersection(set_2))
print (set_1&set_2)

{2, 3}
{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dictionary = {'name':'utkarsh','age':28,'city':'itarsi'}
print (dictionary)

{'name': 'utkarsh', 'age': 28, 'city': 'itarsi'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dictionary_1 = {'name':'john','age':25 }
dictionary_1 ["country"] = 'USA'
print (dictionary_1)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [ ]:
# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dictionary = {'name':'alice','age':30}
dictionary ["name"]

'alice'

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dictionary = {'name':'bob','age':22,'city':'new york'}
dictionary.pop('age')
print (dictionary)

{'name': 'bob', 'city': 'new york'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dictionary = {'name':'alice','city':'paris'}
print ('city' in dictionary)

True

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them.
list_1 = ['name','age','city']
tup_1 = ('utkarsh',25,'itarsi')
dictionary = {key:value for key,value in zip(list_1,tup_1)}
print(list_1)
print(tup_1)
print(dictionary)

['name', 'age', 'city']
('utkarsh', 25, 'itarsi')
{'name': 'utkarsh', 'age': 25, 'city': 'itarsi'}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
list_1 = [1,10,0,65,32]
print(sorted(list_1))

[0, 1, 10, 32, 65]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
str_1 = 'name'
str_2 = 'age'
str_3 = 'city'
str_4 = 'country'
list_1 = [str_1,str_2,str_3,str_4]
print(list_1[3])

country

In [ ]:
# 29.  Write a code to combine two dictionaries into one and print the result.
dict_1 = {'name':'utkarsh','age':25}
dict_2 = {'city':'itarsi','country':'india'}
dict_1.update(dict_2)
print (dict_1)

{'name': 'utkarsh', 'age': 25, 'city': 'itarsi', 'country': 'india'}

In [ ]:
# 30. Write a code to convert a list of strings into a set.
list_1 = ['name','age','country']
set_1 = set(list_1)
print (set_1)

{'country', 'name', 'age'}